<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gaurav.nyaay_vect">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID" />
        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChatBot" />
        <activity android:name=".Search" />
        <activity android:name=".Webview" />
        <activity android:name=".Login" />
        <activity
            android:name=".FIR"
            android:label="File a FIR" />
        <activity
            android:name=".CauseList"
            android:label="Nearby Stations" />
        <activity
            android:name=".MyCases"
            android:label="My Cases" />
        <activity
            android:name=".fileRti"
            android:label="Current Status" />
        <activity
            android:name=".FIRVerify"
            android:theme="@style/AppLoginTheme"
            tools:replace="android:theme" />
        <activity
            android:name=".MainDashBoard"
            android:label="Nyaay"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CaseSchedule"
            android:label="Schedule your Case" />
        <activity
            android:name=".CaseInfo"
            android:label="Case Info" />
        <activity android:name=".FeesCalculator" />
        <activity android:name=".CaseCalender" />
        <activity
            android:name=".Judges"
            android:label="Judges" />
        <activity
            android:name=".RecentActivites"
            android:label="Recent Activites" />
        <activity android:name=".SuccessScreen" />
        <activity android:name=".NearbyStations" />
        <activity android:name=".LawyersList"></activity>
    </application>

</manifest>